body {
  padding-top: 50px;
  font-family: sans-serif;
  font-size: 12px;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
} 

li {
  text-align: center;
}

.js-search-results {
  width: 100%;
  display: inline-flex;
}
